[submodule "chainlink/contracts/lib/forge-std"]
	path = chainlink/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chainlink/contracts/lib/chainlink"]
	path = chainlink/contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "uniswap/v2/contracts/lib/forge-std"]
	path = uniswap/v2/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap/v2/contracts/Uniswap/v2-core/lib/forge-std"]
	path = uniswap/v2/contracts/Uniswap/v2-core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap/v2/contracts/lib/v2-core"]
	path = uniswap/v2/contracts/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "uniswap/v2/contracts/lib/v2-periphery"]
	path = uniswap/v2/contracts/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "uniswap/v2/contracts/lib/openzeppelin-contracts"]
	path = uniswap/v2/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
