[submodule "chainlink/contracts/lib/forge-std"]
	path = chainlink/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chainlink/contracts/lib/chainlink"]
	path = chainlink/contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
